
.main_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}


.section{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.first{
  height: 100vh;
}

.section.second{
  height: 50vh;
}

.section.thrid{
  height: 150vh;
}

.section.fourth{
  height: 160vh;
}

.custome_break{
  height: 100px;
}

.section.fifth{
  height: 40vh;
}

.footer{
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.footer p{
  font-size: 13px;
  margin: 0;
}

/* mobile version */
@media screen and (max-width: 900px) {
  .footer{
    font-size: 8px;
  }
  .section.thrid{
    height: 200vh;
  }
}

