
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.home_body{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container{
  width: 100vw;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

