@use "../abstracts/breakpoints";
@use "../abstracts/extendable";

.sideprojects {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  margin-bottom: 120px;

  &__container {
    width: 80%;
    max-width: 1300px;
  }

  &__title {
    @extend %section-title;
  }

  &__listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    margin-top: 30px;
    gap: 10px;

    &__project {
      height: 180px;
      min-width: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 3px 5px 5px #cecece;
      cursor: pointer;
      &:hover {
        box-shadow: 5px 6px 5px #cecece;
      }

      &--name {
        font-size: 1.5rem;
        font-weight: 600;
        height: 20%;
      }
      &--description {
        font-size: 1rem;
        height: 60%;
        padding: 20px 0px;
      }
      &--nav {
        height: 20%;
        display: flex;
        align-items: center;

        a {
          cursor: pointer;
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: underline;
          }
        }

        img {
          width: 25px;
          height: 25px;
          margin-right: 15px;
        }
      }
    }
  }
}
