/* 
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("/src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Playfair";
  src: url("/src/assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}

html {
  box-sizing: border-box;
  font-size: 100%;
  /* background-color: #fbfcf8; */
  background-color: #fff;

  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  text-rendering: optimizeLegibility;
}

body {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.show {
  opacity: 1;
}

.fade-right-hidden {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-right-show {
  opacity: 1;
  transform: translateX(0px);
}

.fade-up-hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-up-show {
  opacity: 1;
  transform: translateY(0px);
}

.unreveal {
  overflow: hidden;
  line-height: 1;
}

.unreveal span {
  display: block;
  animation: reveal 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.unreveal div {
  display: block;
  animation: reveal 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.unreveal a {
  display: block;
  animation: reveal 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
