

@media screen and (max-width: 700px) {
  .experience_box{
    margin-top: 175px;
    margin-bottom: 200px;
    color: white;
    animation: fadeIn 5s;
    font-size: 15px;
    font-family: 'Noto Serif Gujarati', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .experience_lists{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 15px;
    margin-left: 50px;
    width: 60%;
  }
  .self_portray{
    width: 30%;
    height: 40%;
    display: none;
  }
}


@media screen and (min-width: 700px) {
  .experience_box{
    margin-top: 175px;
    margin-bottom: 200px;
    color: white;
    animation: fadeIn 5s;
    font-size: 25px;
    font-family: 'Noto Serif Gujarati', serif;
    display: flex;
    flex-direction: row;
  }
  
  .experience_lists{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 50px;
    width: 60%;
  }
  .self_portray{
    width: 30%;
    height: 40%;
  }
}

